<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bupt.flowpackage.mybatis.account.application.mapper.ApplicationMapper" >
  <resultMap id="BaseResultMap" type="application" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="application_code" property="applicationCode" jdbcType="SMALLINT" />
    <result column="application_name" property="applicationName" jdbcType="VARCHAR" />
    <result column="application_desc" property="applicationDesc" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, application_code, application_name, application_desc
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_application
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_application
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="application" >
    insert into sys_application (id, application_code, application_name, 
      application_desc)
    values (#{id,jdbcType=INTEGER}, #{applicationCode,jdbcType=SMALLINT}, #{applicationName,jdbcType=VARCHAR}, 
      #{applicationDesc,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="application" >
    insert into sys_application
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="applicationCode != null" >
        application_code,
      </if>
      <if test="applicationName != null" >
        application_name,
      </if>
      <if test="applicationDesc != null" >
        application_desc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="applicationCode != null" >
        #{applicationCode,jdbcType=SMALLINT},
      </if>
      <if test="applicationName != null" >
        #{applicationName,jdbcType=VARCHAR},
      </if>
      <if test="applicationDesc != null" >
        #{applicationDesc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="application" >
    update sys_application
    <set >
      <if test="applicationCode != null" >
        application_code = #{applicationCode,jdbcType=SMALLINT},
      </if>
      <if test="applicationName != null" >
        application_name = #{applicationName,jdbcType=VARCHAR},
      </if>
      <if test="applicationDesc != null" >
        application_desc = #{applicationDesc,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="application" >
    update sys_application
    set application_code = #{applicationCode,jdbcType=SMALLINT},
      application_name = #{applicationName,jdbcType=VARCHAR},
      application_desc = #{applicationDesc,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>