<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <properties>
        <property name="dialect" value="MYSQL"/>
        <property name="pageSqlId" value=".*Page$"/>
    </properties>

    <settings>
        <setting name="cacheEnabled" value="true"/>
        <!-- 使用log4j2 显示 sql-->
        <setting name="logImpl" value="SLF4J" />

    </settings>

    <plugins>
        <plugin interceptor="com.bupt.flowpackage.interceptors.PaginationInterceptor"/>
    </plugins>
    

</configuration>