<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE generatorConfiguration PUBLIC
        "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd" >
<generatorConfiguration>

    <!-- Class Driver Path -->
    <!-- <classPathEntry location="D:\software-install\apache-maven-3.3.9\repository\mysql\mysql-connector-Java\5.1.41\mysql-connector-java-5.1.41.jar"/>
	 -->
	<classPathEntry location="D:\software\apache-maven-3.3.9\respository\mysql\mysql-connector-java\5.1.41\mysql-connector-java-5.1.41.jar"/>
    
    <context id="context" targetRuntime="MyBatis3">
        <property name="jdbcType" value="true"/>
        <commentGenerator>
            <property name="suppressAllComments" value="true"/>      <!--消除注释-->
        </commentGenerator>
        
        <!-- jdbc connection-->
        <jdbcConnection driverClass="com.mysql.jdbc.Driver"
                        connectionURL="jdbc:mysql://47.94.95.211:3306/account" userId="root" password="daojian@123" />

        <javaTypeResolver>
            <property name="forceBigDecimals" value="false"/>
        </javaTypeResolver>
        
        <!-- model file-->
        <javaModelGenerator targetPackage="com.bupt.flowpackage.mybatis.account.button.model" 
                            targetProject="src/test/java">
            <property name="enableSubPackages" value="true"/>
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>

        <!-- mapping file-->
        <sqlMapGenerator targetPackage="com.bupt.flowpackage.mybatis.account.button.mapping" 
                         targetProject="src/test/java">
            <property name="enableSubPackages" value="true"/>
        </sqlMapGenerator>

        <!-- mapper file-->
        <javaClientGenerator targetPackage="com.bupt.flowpackage.mybatis.account.button.mapper" 
                             targetProject="src/test/java" type="XMLMAPPER">
            <property name="enableSubPackages" value="true"/>
        </javaClientGenerator>
        
        
        <table tableName="sys_button" domainObjectName="Button" enableSelectByExample="false"
               enableDeleteByExample="false" enableCountByExample="false" enableUpdateByExample="false" />
   		
    </context>
</generatorConfiguration>