<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <properties>
        <property name="dialect" value="MYSQL"/>
    </properties>

    <settings>
        <setting name="cacheEnabled" value="true"/>
        <!-- 使用log4j2 显示 sql-->
        <setting name="logImpl" value="SLF4J" />
        <setting name="mapUnderscoreToCamelCase" value="true" />
    </settings>
    
    <typeAliases>
		<typeAlias type="com.bupt.flowpackage.mybatis.account.admin.model.Admin" alias="admin"/>
	</typeAliases>

    <plugins>
        <plugin interceptor="com.github.pagehelper.PageHelper">
            <property name="dialect" value="mysql"/>
            <property name="offsetAsPageNum" value="true"/>
            <property name="rowBoundsWithCount" value="true"/>
            <property name="pageSizeZero" value="true"/>
        </plugin>
    </plugins>
	
</configuration>