<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
    xmlns:util="http://www.springframework.org/schema/util"
    xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	    http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
	    http://www.springframework.org/schema/context 
	    http://www.springframework.org/schema/context/spring-context-4.2.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util-4.2.xsd
        http://www.springframework.org/schema/aop 
        http://www.springframework.org/schema/aop/spring-aop-4.2.xsd"
        default-lazy-init="true">
        
        <!-- 使用Annotation自动注册Bean，解决事物失效问题：在主容器中不扫描@Controller注解，在SpringMvc中只扫描@Controller注解 -->
    <context:component-scan base-package="com.bupt.flowpackage.biz">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>
    
    <aop:aspectj-autoproxy/>
    
    <!-- 载入属性文件 -->
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:jdbc.properties</value>
                <value>classpath:config.properties</value>
            </list>
        </property>
    </bean>
    
    <!-- 把系统用到的配置文件注入到静态工具类中 -->
    <bean id="propertyFactory" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="locations">
            <list>
                <value>classpath:config.properties</value>
            </list>
        </property>
    </bean>
    <!-- 账号角色权限库 -->
    <import resource="spring-account-datasource.xml"/>
    <!-- 订单商户库 -->
    <!-- <import resource="spring-order-datasource.xml"/> -->
    
    <!--<import resource="spring-dubbo.xml"/>
    <import resource="spring-redis.xml"/> -->
    
    <bean id="validateAdvitor" class="com.bupt.flowpackage.common.aop.ParamValidateAdvisor"/> 
    <aop:config proxy-target-class="true">
        <aop:pointcut id="servicePointcut" expression="execution(* com.bupt.flowpackage.biz..service.*Service.*(..))"/>
        <aop:aspect ref="validateAdvitor">
            <aop:around method="validate" pointcut-ref="servicePointcut"/>
        </aop:aspect>
    </aop:config>
</beans>