<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	    http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
	    http://www.springframework.org/schema/context 
	    http://www.springframework.org/schema/context/spring-context-4.2.xsd
		http://www.springframework.org/schema/mvc
	    http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd">
	    
	<!-- 使用Annotation自动注册Bean,只扫描@Controller -->
    <context:component-scan base-package="com.bupt.flowpackage" use-default-filters="false">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>	
    <!-- 声明式驱动, 会自动注册DefaultAnnotationHandlerMapping与AnnotationMethodHandlerAdapter 
		两个bean -->
	<mvc:annotation-driven>
		<mvc:message-converters>
			<!-- 把ByteArray加在Json前面 -->
			<bean class="org.springframework.http.converter.ByteArrayHttpMessageConverter" />
			<bean class="org.springframework.http.converter.StringHttpMessageConverter">
				<constructor-arg value="UTF-8" index="0"/>
			</bean>
			<!-- JSON 数据格式转换, 启动Spring MVC的注解功能，完成请求和注解POJO的映射， 完成json自动转换 -->
			<bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
				<property name="supportedMediaTypes">
					<list>
						<value>text/plain;charset=UTF-8</value>
						<value>text/html;charset=UTF-8</value>
						<value>application/json;charset=UTF-8</value>
						<value>text/json;charset=UTF-8</value>
					</list>
				</property>
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>
    
    <!-- ③：对模型视图名称的解析，即在模型视图名称添加前后缀 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/view/" />
		<property name="suffix" value=".jsp" />
	</bean>
	
	<!-- ④：定义文件上传处理器,最大1M -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">  
        <!-- 默认编码 -->  
        <property name="defaultEncoding" value="utf-8" />  
        <!-- 文件大小最大值 -->  
        <property name="maxUploadSize" value="10240" />  
        <!-- 内存中的最大值 -->  
        <property name="maxInMemorySize" value="10240" />  
    </bean>  	

	<!-- 5：定义BEAN对象转换用视图，用在EXCEL导出 -->
	<bean class="org.springframework.web.servlet.view.BeanNameViewResolver"	p:order="3"/>
	
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**"/>
			<bean class="com.bupt.flowpackage.common.interceptors.RequestParameterInteceptor"/>
		</mvc:interceptor>
	</mvc:interceptors>
	
	<mvc:default-servlet-handler/>
	
</beans>