<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bupt.flowpackage.mybatis.account.admin.mapper.AdminMapper" >
  <resultMap id="BaseResultMap" type="admin" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="login_name" property="loginName" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="real_name" property="realName" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="CHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="create_user_name" property="createUserName" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_name" property="modifyName" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="first_login_time" property="firstLoginTime" jdbcType="TIMESTAMP" />
    <result column="last_login_time" property="lastLoginTime" jdbcType="TIMESTAMP" />
    <result column="available_flag" property="availableFlag" jdbcType="BIT" />
    <result column="is_super" property="isSuper" jdbcType="BIT" />
  </resultMap>
  
  <resultMap id="AdminRoleBaseResultMap" type="adminRole" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="admin_id" property="adminId" jdbcType="INTEGER" />
    <result column="role_id" property="roleId" jdbcType="INTEGER" />
    <result column="role_name" property="roleName" jdbcType="VARCHAR" />
    <result column="login_name" property="loginName" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="real_name" property="realName" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="CHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="create_user_name" property="createUserName" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_name" property="modifyName" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="first_login_time" property="firstLoginTime" jdbcType="TIMESTAMP" />
    <result column="last_login_time" property="lastLoginTime" jdbcType="TIMESTAMP" />
    <result column="available_flag" property="availableFlag" jdbcType="BIT" />
    <result column="is_super" property="isSuper" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, login_name, real_name, sex, mobile, email, create_user_name, create_time, 
    modify_name, update_time, first_login_time, last_login_time, available_flag, is_super
  </sql>
  
  <sql id="AdminRole_Column_List" >
    admin_id, role_id, role_name, login_name, real_name, sex, mobile, email, admin.create_user_name, admin.create_time, 
    admin.modify_name, admin.update_time, first_login_time, last_login_time, available_flag, role_level, is_super
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="AdminRole_Column_List" />
    from  cf_admin admin, cf_role role, cf_adminRole adminRole
    where admin.id = adminRole.admin_id and role.id = adminRole.role_id 
    and admin.id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="selectBySelective" resultMap="BaseResultMap" parameterType="admin" >
    select 
    <include refid="Base_Column_List" />
    from cf_admin
    <where>
    	available_flag = 1 
    	<if test="loginName != null">
		    AND login_name = #{loginName}
	    </if>
	    <if test="password != null">
	    	AND password = #{password}
	    </if>
	    <if test="realName != null">
	    	AND real_name = #{realName}
	    </if>
	    <if test="mobile != null">
	    	AND mobile like #{mobile}
	    </if>
	    <if test="isSuper != null">
	    	AND is_super = #{isSuper}
	    </if>
    </where>
  </select>
  <!-- 获取管理员角色信息 -->
  <select id="selectAdminRoleInfo" resultMap="AdminRoleBaseResultMap" parameterType="adminRole" >
    select 
    <include refid="AdminRole_Column_List" />
    from cf_admin admin, cf_role role, cf_adminRole adminRole
    <where>
    	admin.id = adminRole.admin_id 
		and role.id = adminRole.role_id 
    	<if test="loginName != null and loginName != null">
		    AND admin.login_name = #{loginName}
	    </if>
	    <if test="roleId != null and roleId != null">
		    AND role.id = #{roleId}
	    </if>
	    <if test="password != null and password != null">
	    	AND admin.password = #{password}
	    </if>
	    <if test="realName != null and realName != null">
	    	AND admin.real_name = #{realName}
	    </if>
	    <if test="mobile != null and mobile != null">
	    	AND admin.mobile like #{mobile}
	    </if>
	    <if test="availableFlag != null and availableFlag != null">
	    	AND admin.available_flag = #{availableFlag}
	    </if>
	    <if test="isSuper != null and isSuper != null">
	    	AND admin.is_super = #{isSuper}
	    </if>
    </where>
  </select>
  
  <!-- 获取管理员角色信息 -->
  <select id="selectAdminRoleInfoPage" resultMap="AdminRoleBaseResultMap" parameterType="adminRole" >
    select 
    <include refid="AdminRole_Column_List" />
    from cf_admin admin, cf_role role, cf_adminRole adminRole
    <where>
    	admin.id = adminRole.admin_id 
		and role.id = adminRole.role_id 
		<if test="availableFlag != null and availableFlag != ''">
			and admin.available_flag = #{availableFlag} 
		</if>
    	<if test="loginName != null and loginName != ''">
		    AND admin.login_name like '%${loginName}%'
	    </if>
	    <if test="realName != null and realName != ''">
	    	AND admin.real_name like '%${realName}%' 
	    </if>
	    <if test="mobile != null and mobile != ''">
	    	AND admin.mobile like '%${mobile}%'
	    </if>
	    <if test="isSuper != null and isSuper != ''">
	    	AND admin.is_super = #{isSuper}
	    </if>
    </where>
	order by admin.id
  </select>
  
  <!-- 获取管理员数量 -->
  <select id="selectCountBySelective" resultType="int" parameterType="admin" >
    select count(*) from cf_admin
    <where>
    	available_flag = 1 
    	<if test="loginName != null">
		    AND login_name = #{loginName}
	    </if>
	    <if test="password != null">
	    	AND password = #{password}
	    </if>
	    <if test="realName != null">
	    	AND real_name = #{realName}
	    </if>
	    <if test="mobile != null">
	    	AND mobile like #{mobile}
	    </if>
	    <if test="isSuper != null">
	    	AND is_super = #{isSuper}
	    </if>
    </where>
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from cf_admin
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="admin">
    insert into cf_admin (login_name, password, 
      real_name, sex, mobile, 
      email, create_user_name, create_time, 
      modify_name, update_time, first_login_time, 
      last_login_time, available_flag, is_super
      )
    values (#{loginName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{realName,jdbcType=VARCHAR}, #{sex,jdbcType=CHAR}, #{mobile,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{createUserName,jdbcType=VARCHAR}, now(), 
      #{modifyName,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{firstLoginTime,jdbcType=TIMESTAMP}, 
      #{lastLoginTime,jdbcType=TIMESTAMP}, 1, false 
      )
  </insert>
  <insert id="insertSelective" parameterType="admin" >
    insert into cf_admin
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="loginName != null and loginName !=''" >
        login_name,
      </if>
      <if test="password != null and password !=''" >
        password,
      </if>
      <if test="realName != null and realName !=''" >
        real_name,
      </if>
      <if test="sex != null and sex !=''" >
        sex,
      </if>
      <if test="mobile != null and mobile !=''" >
        mobile,
      </if>
      <if test="email != null and email !=''" >
        email,
      </if>
      <if test="createUserName != null and createUserName !=''" >
        create_user_name,
      </if>
      <if test="createTime != null and createTime !=''" >
        create_time,
      </if>
      <if test="modifyName != null and modifyName !=''" >
        modify_name,
      </if>
      <if test="updateTime != null and updateTime !=''" >
        update_time,
      </if>
      <if test="firstLoginTime != null and firstLoginTime !=''" >
        first_login_time,
      </if>
      <if test="lastLoginTime != null and lastLoginTime !=''" >
        last_login_time,
      </if>
      <if test="availableFlag != null and availableFlag !=''" >
        available_flag,
      </if>
      <if test="isSuper != null and isSuper !=''" >
        isSuper,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="loginName != null and loginName !=''" >
        #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="password != null and password !=''" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="realName != null and realName !=''" >
        #{realName,jdbcType=VARCHAR},
      </if>
      <if test="sex != null and sex !=''" >
        #{sex,jdbcType=CHAR},
      </if>
      <if test="mobile != null and mobile !=''" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="email != null and email !=''" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="createUserName != null and createUserName !=''" >
        #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null and createTime !=''" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyName != null and modifyName !=''" >
        #{modifyName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null and updateTime !=''" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="firstLoginTime != null and firstLoginTime !=''" >
        #{firstLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastLoginTime != null and lastLoginTime !=''" >
        #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="availableFlag != null and availableFlag !=''" >
        #{availableFlag,jdbcType=BIT},
      </if>
      <if test="isSuper != null and isSuper !=''" >
        #{isSuper,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="admin" >
    update cf_admin
    <set >
      <if test="loginName != null and loginName != ''" >
        login_name = #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="password != null and password != ''" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="realName != null and realName != ''" >
        real_name = #{realName,jdbcType=VARCHAR},
      </if>
      <if test="sex != null and sex != ''" >
        sex = #{sex,jdbcType=CHAR},
      </if>
      <if test="mobile != null and mobile != ''" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="email != null and email != ''" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="createUserName != null and createUserName != ''" >
        create_user_name = #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null and createTime != ''" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyName != null and modifyName != ''" >
        modify_name = #{modifyName,jdbcType=VARCHAR},
      </if>
       update_time = now(),
      <if test="firstLoginTime != null and firstLoginTime != ''" >
        first_login_time = #{firstLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastLoginTime != null and lastLoginTime != ''" >
        last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="availableFlag != null and availableFlag != ''" >
        available_flag = #{availableFlag,jdbcType=BIT},
      </if>
      <if test="isSuper != null and isSuper != ''" >
        is_super = #{isSuper,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="admin" >
    update cf_admin
    set login_name = #{loginName,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      real_name = #{realName,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=CHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      create_user_name = #{createUserName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_name = #{modifyName,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      first_login_time = #{firstLoginTime,jdbcType=TIMESTAMP},
      last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
      available_flag = #{availableFlag,jdbcType=BIT},
      is_super = #{isSuper,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>