<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bupt.flowpackage.mybatis.account.menu.mapper.MenuMapper" >
  <resultMap id="MenuResultMap" type="menu" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="menu_no" property="menuNo" jdbcType="SMALLINT" />
    <result column="application_code" property="applicationCode" jdbcType="SMALLINT" />
    <result column="menu_parent_no" property="menuParentNo" jdbcType="SMALLINT" />
    <result column="menu_order" property="menuOrder" jdbcType="SMALLINT" />
    <result column="menu_name" property="menuName" jdbcType="VARCHAR" />
    <result column="menu_url" property="menuUrl" jdbcType="VARCHAR" />
    <result column="menu_icon" property="menuIcon" jdbcType="VARCHAR" />
    <result column="is_visible" property="isVisible" jdbcType="BIT" />
    <result column="is_leaf" property="isLeaf" jdbcType="BIT" />
    <result column="menu_type" property="menuType" jdbcType="SMALLINT" />
    <collection property="children" ofType="menu" column="menu_no" select="findMenuByParentMenuNo"/>
  </resultMap>
  
  <resultMap id="ApplicationResultMap" type="application">
      <id column="id" property="id" jdbcType="INTEGER"/>
      <result column="application_code" property="applicationCode" jdbcType="SMALLINT" />
      <result column="application_name" property="applicationName" jdbcType="VARCHAR" />
      <result column="application_icon" property="applicationIcon" jdbcType="VARCHAR" />
      <result column="application_url" property="applicationUrl" jdbcType="VARCHAR" />
      <result column="application_desc" property="applicationDesc" jdbcType="VARCHAR" />
      <collection property="menuList" ofType="menu" column="application_code" select="selectMenuByApplicationCode"/>
  </resultMap>
  
  <resultMap id="MenuRoleResultMap" type="menu" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="master_id" property="masterId" jdbcType="INTEGER" />
    <result column="menu_no" property="menuNo" jdbcType="SMALLINT" />
    <result column="application_code" property="applicationCode" jdbcType="SMALLINT" />
    <result column="menu_parent_no" property="menuParentNo" jdbcType="SMALLINT" />
    <result column="menu_order" property="menuOrder" jdbcType="SMALLINT" />
    <result column="menu_name" property="menuName" jdbcType="VARCHAR" />
    <result column="menu_url" property="menuUrl" jdbcType="VARCHAR" />
    <result column="menu_icon" property="menuIcon" jdbcType="VARCHAR" />
    <result column="is_visible" property="isVisible" jdbcType="BIT" />
    <result column="is_leaf" property="isLeaf" jdbcType="BIT" />
    <result column="menu_type" property="menuType" jdbcType="SMALLINT" />
    <collection property="children" ofType="menu" column="{menuNo=menu_no, roleId=master_id}" select="findMenuByParentMenuNoAndRoleId"/>
  </resultMap>
  
  <resultMap id="ApplicationRoleResultMap" type="application">
      <id column="id" property="id" jdbcType="INTEGER"/>
      <result column="master_id" property="masterId" jdbcType="INTEGER" />
      <result column="application_code" property="applicationCode" jdbcType="SMALLINT" />
      <result column="application_name" property="applicationName" jdbcType="VARCHAR" />
      <result column="application_icon" property="applicationIcon" jdbcType="VARCHAR" />
      <result column="application_url" property="applicationUrl" jdbcType="VARCHAR" />
      <result column="application_desc" property="applicationDesc" jdbcType="VARCHAR" />
      <collection property="menuList" ofType="menu" column="{applicationCode=application_code, roleId=master_id}" select="selectMenuByApplicationCodeAndRoleId"/>
  </resultMap>
  
  <sql id="Menu_Column_List" >
    sys_menu.id, menu_no, application_code, menu_parent_no, menu_order, menu_name, menu_url, menu_icon, 
    is_visible, is_leaf, menu_type 
  </sql>
  
  <sql id="Application_Column_List" >
    sys_application.id, application_code, application_name, application_icon, application_url, application_desc
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="MenuResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Menu_Column_List" />
    from sys_menu
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <!-- 根据角色id查询所有的模块菜单 start-->
  <select id="selectApplicationListByRoleId" resultMap="ApplicationRoleResultMap" parameterType="java.lang.Integer">
    select 
    <include refid="Application_Column_List" /> , cf_privilege.master_id 
    from sys_application, cf_privilege 
    where sys_application.application_code = cf_privilege.access_no and 
    cf_privilege.is_operatation is false and 
    cf_privilege.master_type = 2 and
    cf_privilege.master_id = #{roleId,jdbcType=INTEGER} and
    cf_privilege.access_type = 3 
  </select>
  <!-- 查询某模块下的父菜单 -->
  <select id="selectMenuByApplicationCodeAndRoleId" resultMap="MenuRoleResultMap" parameterType="map" >
    select 
    <include refid="Menu_Column_List" />, cf_privilege.master_id 
    from sys_menu, cf_privilege 
    where 
    sys_menu.menu_no = cf_privilege.access_no and 
    sys_menu.is_leaf is false and 
    sys_menu.is_visible = 1  and 
    sys_menu.application_code = #{applicationCode,jdbcType=SMALLINT} and 
    cf_privilege.is_operatation is false and 
    cf_privilege.master_type = 2 and 
    cf_privilege.master_id = #{roleId,jdbcType=INTEGER} and
    cf_privilege.access_type = 1 
    order by menu_order 
  </select>
  <!-- 查询父菜单下的子菜单 -->
  <select id="findMenuByParentMenuNoAndRoleId" resultMap="MenuResultMap" parameterType="map" >
    select 
    <include refid="Menu_Column_List" />
    from sys_menu, cf_privilege 
     where sys_menu.menu_no = cf_privilege.access_no and 
     sys_menu.is_leaf is true and 
     sys_menu.is_visible = 1  and 
     sys_menu.menu_parent_no = #{menuNo, jdbcType=SMALLINT} and 
     cf_privilege.is_operatation is false and 
     cf_privilege.master_type = 2 and 
     cf_privilege.master_id = #{roleId,jdbcType=INTEGER} and
     cf_privilege.access_type = 1 
     order by menu_order 
  </select>
  <!-- 根据角色id查询所有的模块菜单 end-->
  
  <!-- 查询所有的模块菜单， 超级管理员不用判断权限 start -->
  <select id="selectAllApplicationList" resultMap="ApplicationResultMap">
    select 
    <include refid="Application_Column_List" />
    from sys_application
  </select>
  <!-- 查询某模块下的父菜单 -->
  <select id="selectMenuByApplicationCode" resultMap="MenuResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Menu_Column_List" />
    from sys_menu where is_leaf is false and is_visible = 1
     and application_code = #{applicationCode,jdbcType=SMALLINT} 
     order by menu_order 
  </select>
  <!-- 查询某菜单下的子菜单 -->
  <select id="findMenuByParentMenuNo" resultMap="MenuResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Menu_Column_List" />
    from sys_menu where 
    is_leaf is true and 
    is_visible=1 and 
    menu_parent_no = #{menu_no, jdbcType=SMALLINT}
    order by menu_order 
  </select>
  <!-- 查询所有的模块菜单 end -->
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_menu
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert" parameterType="menu" >
    insert into sys_menu (id, menu_no, application_code, 
      menu_parent_no, menu_order, menu_name, 
      menu_url, menu_icon, is_visible, 
      is_leaf)
    values (#{id,jdbcType=INTEGER}, #{menuNo,jdbcType=SMALLINT}, #{applicationCode,jdbcType=SMALLINT}, 
      #{menuParentNo,jdbcType=SMALLINT}, #{menuOrder,jdbcType=SMALLINT}, #{menuName,jdbcType=VARCHAR}, 
      #{menuUrl,jdbcType=VARCHAR}, #{menuIcon,jdbcType=VARCHAR}, #{isVisible,jdbcType=BIT}, 
      #{isLeaf,jdbcType=BIT})
  </insert>
  
  <insert id="insertSelective" parameterType="menu" >
    insert into sys_menu
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="menuNo != null" >
        menu_no,
      </if>
      <if test="applicationCode != null" >
        application_code,
      </if>
      <if test="menuParentNo != null" >
        menu_parent_no,
      </if>
      <if test="menuOrder != null" >
        menu_order,
      </if>
      <if test="menuName != null" >
        menu_name,
      </if>
      <if test="menuUrl != null" >
        menu_url,
      </if>
      <if test="menuIcon != null" >
        menu_icon,
      </if>
      <if test="isVisible != null" >
        is_visible,
      </if>
      <if test="isLeaf != null" >
        is_leaf,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="menuNo != null" >
        #{menuNo,jdbcType=SMALLINT},
      </if>
      <if test="applicationCode != null" >
        #{applicationCode,jdbcType=SMALLINT},
      </if>
      <if test="menuParentNo != null" >
        #{menuParentNo,jdbcType=SMALLINT},
      </if>
      <if test="menuOrder != null" >
        #{menuOrder,jdbcType=SMALLINT},
      </if>
      <if test="menuName != null" >
        #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="menuUrl != null" >
        #{menuUrl,jdbcType=VARCHAR},
      </if>
      <if test="menuIcon != null" >
        #{menuIcon,jdbcType=VARCHAR},
      </if>
      <if test="isVisible != null" >
        #{isVisible,jdbcType=BIT},
      </if>
      <if test="isLeaf != null" >
        #{isLeaf,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="menu" >
    update sys_menu
    <set >
      <if test="menuNo != null" >
        menu_no = #{menuNo,jdbcType=SMALLINT},
      </if>
      <if test="applicationCode != null" >
        application_code = #{applicationCode,jdbcType=SMALLINT},
      </if>
      <if test="menuParentNo != null" >
        menu_parent_no = #{menuParentNo,jdbcType=SMALLINT},
      </if>
      <if test="menuOrder != null" >
        menu_order = #{menuOrder,jdbcType=SMALLINT},
      </if>
      <if test="menuName != null" >
        menu_name = #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="menuUrl != null" >
        menu_url = #{menuUrl,jdbcType=VARCHAR},
      </if>
      <if test="menuIcon != null" >
        menu_icon = #{menuIcon,jdbcType=VARCHAR},
      </if>
      <if test="isVisible != null" >
        is_visible = #{isVisible,jdbcType=BIT},
      </if>
      <if test="isLeaf != null" >
        is_leaf = #{isLeaf,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <update id="updateByPrimaryKey" parameterType="menu" >
    update sys_menu
    set menu_no = #{menuNo,jdbcType=SMALLINT},
      application_code = #{applicationCode,jdbcType=SMALLINT},
      menu_parent_no = #{menuParentNo,jdbcType=SMALLINT},
      menu_order = #{menuOrder,jdbcType=SMALLINT},
      menu_name = #{menuName,jdbcType=VARCHAR},
      menu_url = #{menuUrl,jdbcType=VARCHAR},
      menu_icon = #{menuIcon,jdbcType=VARCHAR},
      is_visible = #{isVisible,jdbcType=BIT},
      is_leaf = #{isLeaf,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
</mapper>